*{
    margin: 0; 
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;

 }

 :root{
   --background: linear-gradient(135deg, #d65ed0b0 0%, #4d63e0b0 100%);
   --color-primary: #131581;
   --color-secondary: #8f0c5d;
   --boton-padding: 20px 40px;
}

body {
    margin: 0;
    background: white;
  }

.container{
   width: 90%;
   margin:0 auto;
   overflow: hidden;
   padding: 80px 0;
   max-width: 1200px;
}

.slider{
   width: 95%;
   margin: auto;  
   margin-top: 20px;
   margin-bottom: 20px;
   overflow: hidden;
}

.slider ul{
   display: flex;
   padding: 0;
   width: 400%;
   animation: cambio 20s infinite;
   animation-direction: alternate;

}

.slider li{
   width: 100%;
   list-style: none;
}

.slider img{
   width: 100%;
}

@keyframes cambio{
   0%{margin-left: 0;}
   20%{margin-left: 0;}
   25%{margin-left: -100%;}
   45%{margin-left: -100%;}
   50%{margin-left: -200%;}
   70%{margin-left: -200%;}
   75%{margin-left: -300%;}
   100%{margin-left: -300%;}
}


.tab{
   background-color: white;
   border-image: space;
}

.title{
   text-align: center;
   color: yellow;
   
}

.title1{
   text-align: center;
   color: var(--color-secondary);
   font-size: 40px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 800;
   margin-bottom: 40px;
   margin-top: 70px;
}

.subti{
   height: 120px;
   margin: 2rem auto;
   text-align: justify;
   width: 600px;
   font-size: 25px;
   font-family: inherit;
   margin-bottom: 0px;
}

.subti1{
   height: 120px;
   margin: 0rem auto;
   text-align: justify;
   width: 600px;
   font-size: 25px;
   font-family: inherit;
   font-size: 1.5rem;
   margin-bottom: 0rem;
   margin-top: 0rem;
   font-weight: 500;
}


.subtitle{
   color: var(--color-secondary);
   font-size: 2,5rem;
   margin-bottom: 35px;
}


.hero{
   height: 100vh;
   background-image: var(--background), url("https://lh3.googleusercontent.com/zm35WYBbDv7skW-8MM6I2zjnwnHgGEDllm5fkjBylKGrzaUh5HRsThmLnnNxQbooJDp721No1toRO43jpvnFucBuuYZrZjLSLgqMLD0CeJduRXTkRxeZ_dr88_JxBFrDjH7zLyXZfrk=w2400?source=screenshot.guru");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   position: relative;
}

.hero .container{
   padding: 0;
}

.nav{
   display: flex;
   justify-content: flex-end;
   height: 15px;
   align-items: center;
   font-weight: 700;
}

.nav--footer{
   font-weight: 300;
   justify-content: flex-start;
}

.nav__items{
   color:white;
   text-decoration: none;
   margin-right: 20px;
   padding: 10px 15px;
   font-weight: inherit;
}

.nav__items--footer{
   padding: 10px;
}

.hero__container{
   display: flex;
   height: calc(100vh - 70px);
   align-items: center;
   color: white;
}

.hero__title{
   font-size: 2.8rem;
}

.hero__subtitle{
   font-size: 1.5rem;
   font-weight: 300;
   margin-bottom: 110px;
}

.hero__texts{
   width: 80%;
   margin-bottom: 50px;

}

.hero__wave{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100px;

}

.image__spe__cta{
   display: inline-block;
   margin-top: 30px;
   background-color: rgb(62, 159, 223);
   color: #fff;
   text-decoration: none;
   padding: var(--boton-padding);
   padding: 10px 15px;
   border-radius: 40px;
   
}

.au__img{
   width: 40%;
   background-color: white;
   cursor: pointer;
}

/*video*/

.video{
   margin-top: 0;
   margin-bottom: 20px;
   width: 70%;
   margin-right: 0%;
   margin-left: 190px;

}

.speakers__products{
   padding: 0;
   text-align: center;
   font-size: .98rem;
}

.image__about__speaker{
   width: 150px;
   height: 150;
   margin-top: 10px;
   margin-bottom: 10px;
}

.image__speaker{
   width: 100%;
   margin: 0 auto;
}

.image__speaker__cta{
   display: inline-block;
   margin-top: 30px;
   background-color: rgb(62, 159, 223);
   color: #fff;
   text-decoration: none;
   padding: var(--boton-padding);
   border-radius: 40px;
}

/*table*/

table th{
   width: 10em;
   
}

table{
   border-collapse: collapse;
   text-decoration: none;
   width: 100%;
   padding: 0%;
}

tr:nth-of-type(1) > th {
   background-color: white;
   border-image-width: 10px;
   text-decoration: none;
}


/*audio products*/
.audio__products{
   background: #f2f2f2;
}

.audio__grid{
   display: grid;
   height: 550Px;
   grid-template-areas: 
   "Photo_1636153399681 Photo_1636153399681 Photo_1636152665641 aud-256-do_x1"
   "Photo_1636153399681 Photo_1636153399681 microfono-profesional-de-condensador-con-filtro-y-suspension 254-225";
   gap: 10px;
}

.audio__item{
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.audio__img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   cursor: pointer;
   border-image: space;
}

.audio__item:nth-of-type(1){
   grid-area: Photo_1636153399681;
}

.audio__item:nth-of-type(2){
   grid-area: Photo_1636152665641;
}

.audio__item:nth-of-type(3){
   grid-area: aud-256-do_x1;
}

.audio__item:nth-of-type(4){
   grid-area: microfono-profesional-de-condensador-con-filtro-y-suspension;
}

.audio__item:nth-of-type(5){
   grid-area: 254-225;
}

.audio__hover{
   position: absolute;
   background: rgba(35, 171, 189, 0.589);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   color: white;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   transform: translateX(100%);
   cursor: pointer;
   transition: transform .3s ease-in-out;
}

.audio__item:hover .audio__hover{
   transform: translateX(0%);
}


.audio__icon{
   margin-top: 10px;
}


/*Footer*/

.footer{
   background:rgb(62, 159, 223);
}

.footer__grid{
   display: grid;
   grid-template-columns: 3fr 2fr;
   gap: 20px;
   align-items: center;
}

.footer__title{
   font-weight: 400;
   color: white;
   font-size: 2rem;
   margin-bottom: 30px;
   text-align: center;
}

.footer__icons{
   display: flex;
   justify-content: space-evenly;
}

.footer__container-icons{
   display: inline-block;
   width: 60px;
   height: 60px;
   color: white;
   text-align: center;
   border: 1px solid white;
   border-radius: 50%;
}

.footer__icon{
   color: inherit;
   font-size: 30px;
   text-decoration: none;
   line-height: 60px;
}

.fab.footer__icon{
   line-height: 60px;
}

/*responsive design*/

@media screen and (max-width: 800px){
   :root{
      --boton-padding: 18px 40px;
   }
   .nav{
      justify-content: space-around;
   }

   .nav__items{
      font-weight: 400;
      border-bottom: 1px solid white;
      margin-right: 0;
   }

   .nav__items--cta{
      border: none;
   }

   .nav__items--footer{
      border: none;
   }

   .hero__texts{
      width: 100%;
      margin-bottom: 80px;
   }

   .hero__title{
      font-size: 2.5rem;
   }

   .hero__subtitle{
      font-size: 1.5rem;
   }

   .video{
      margin-block-end: 1rem 2rem;
   }

   /*audio products*/

.audio__grid{
   grid-template-areas: 
   "Photo_1636153399681 Photo_1636153399681 Photo_1636152665641 Photo_1636152665641" 
   "Photo_1636153399681 Photo_1636153399681 aud-256-do_x1 aud-256-do_x1"
   "microfono-profesional-de-condensador-con-filtro-y-suspension microfono-profesional-de-condensador-con-filtro-y-suspension 254-225 254-225";
   grid-template-rows: repeat(3, 200px);
   grid-template-columns: repeat(2,70px);
}

/*Footer*/

.footer__grid{
   grid-template-columns: 1fr;
}

.footer__contact{
   grid-row: 1/2;
   }

}


@media screen and (max-width: 500px){
   :root{
      --boton-padding: 18px 35px;
   }

   .subtitle{
      font-size: 2rem;
      margin-bottom: 20px;
   }
   .nav{
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: 10px;
   }

   .nav__items{
      padding: 0 10px;
      border: 0;
   }

   .hero__texts{
      text-align: center;
      margin-bottom: 100px;
   }

/*audio products*/

.audio__grid{
   grid-template-areas: 
   "Photo_1636153399681 Photo_1636153399681 Photo_1636152665641 Photo_1636152665641" 
   "Photo_1636153399681 Photo_1636153399681 aud-256-do_x1 aud-256-do_x1"
   "microfono-profesional-de-condensador-con-filtro-y-suspension microfono-profesional-de-condensador-con-filtro-y-suspension 254-225 254-225";

}

/*Footer*/

.footer__grid{
   grid-template-columns: 1fr;
}

.footer__contact{
   grid-row: 1/2;
}

/*menu*/



}




.navegacion{
   width: 100%;
    margin: 20px auto;
    background: rgb(62, 159, 223);
    text-align: center;
}

 .navegacion ul{
    list-style: none;
 }

 .menu > li{
     position: relative;
     display: inline-block;
 }

 .menu > li > a{
   display: block;
   padding: 15px 20px;
   color:rgb(255, 255, 255);
   font-family: Leelawadee;
   text-decoration: none;
 }

 .menu li a:hover{
   color: rgb(184, 29, 132);
   transition: all .3s;
   text-shadow: 0 0 2px rgb(252, 16, 193);
}
/* sub-menu*/

.sub-menu {
   position: absolute;
   background: rgb(125, 177, 255);
   width: 100%;
   display: none;
}

.sub-menu li a{
   display: block;
   padding: 15px;
   color: white;
   font-family: Leelawadee;
   text-decoration: none;
}

.menu li:hover .sub-menu{
   display: block;
}


/*fomulario*/

.form-register{
   width: 400px;
   background: rgb(167, 199, 221);
   padding: 50px;
   margin-top: 100px;
   border-radius: 4px;
   font-family: 'Times New Roman', Times, serif;
   color: #d65ed0b0;
   box-sizing: 7px 13px 37px #000;
   display: block;
   margin: auto;
   text-align: center;
}   

.form-register h4 {
   font-size: 22px;
   margin-bottom: 20px;
   color: white;
}

.controls1{
   width: 100%;
   background: rgb(248, 133, 219);
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 16px;
   border: 1px solid white;
   font-family: 'Times New Roman', Times, serif;
   font-size: 18px;
}

.form-register p{
   height: 40px;
   text-align: center;
   font-size: 18px;
   line-height: 40px;
}

.form-register a{
   color: white;
   text-decoration: none;

}


.form-register .botons{
   display: inline-block;
   width: 100%;
   background: white;
   border-radius: 40px;
   padding: var(--boton-padding);
   padding: 10px 15px;
   color: rgba(218, 59, 210, 0.925);
   margin-left: 16px 0;
   font-size: 16px;
   cursor: pointer;

}


.txto{
   display: block;
   margin: auto;
   text-align: center;
   padding: 50px 15px;
}



