@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg, #4866ebb0 0%, #764ba298 100%);
    --color-primary: #4866eb;
    --color-secondary: #764ba2;
    --boton-padding: 20px 40px;
}

body{
    font-family: 'Roboto Slab', serif;
}

.container{
    width: 90%;
    margin:0 auto;
    background: red;
}
